﻿@model BookStore.Models.tblBook 
@{
    ViewBag.Title = "Edit"+ @Model.BookName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.BookName</h1> @using (Html.BeginForm())
{    
      @Html.EditorForModel()  
      <input type="submit" value="Save" /> 
       @Html.ActionLink("Cancel and return to List", "Index") 
}

 

