﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <input type="email" name="txtLoginName" placeholder="Login mail" />
                        <input type="password" name="txtPassword" placeholder="Password" />
                        <button type="submit" class="btn btn-default">Login</button>
                    }
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        <input type="text" name="txtname" placeholder="Name" />
                        <input type="email" name ="txtUsername"placeholder="Email Address" />
                        <input type="password" name="txtPassword" placeholder="Password" />                       
                        <button type="submit" class="btn btn-default">Signup</button>
                        
                    }
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
