﻿@using BookStore.Models
@model List<CartItem>
@{
    ViewBag.Title = "Your cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <input type="hidden" name="BookID" value="@item.sID" />
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="~/@item.sImage" alt="" width="100" height="120"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@item.sBookName</a></h4>

                            </td>
                            <td class="cart_price">
                                <p>@item.fPrice</p>
                            </td>
                            @using (Html.BeginForm("UpdateCart", "Cart", new { @sMaSP = item.sID }))
                            {
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <input class="cart_quantity_input" type="number" name="quantity" min="1" autocomplete="off" size="2" value="@item.iQuantity">
                                    </div>
                                </td>

                                <td class="cart_total">
                                    <p class="cart_total_price">@item.fTotal</p>
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-hourglass-start" aria-hidden="true"></i>Cập nhật</button>
                                    <br />
                                    <div class="btn btn-sm btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i>@Html.ActionLink("Xóa", "DeleteItem", new { @masp = item.sID }, new { @class = "my-class" }) </div>                               
                                </td>                              
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
