﻿@using BookStore.Models
@model List<CartItem>
@{
    ViewBag.Title = "Your cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null || Model.Count == 0)
{
    <p class="text-info text-center">
        Giỏ hàng của bạn rỗng!
    </p>
}
else
{
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <input type="hidden" name="BookID" value="@item.sID" />
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src="~/@item.sImage" alt="" width="100" height="120"></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.sBookName</a></h4>

                                </td>
                                <td class="cart_price">
                                    <p>@item.fPrice</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <input class="cart_quantity_input" type="number" name="quantity" min="1" autocomplete="off" size="2" value="@item.iQuantity">
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@item.fTotal</p>
                                </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>

                <a href="@Url.Action("AllProduct", "Product")" class=" btn btn-fefault cart">
                    <i class="fa fa-shopping-cart"></i>
                    Tiếp tục mua hàng
                </a>


                <a href="@Url.Action("EditCart", "Cart")" class=" btn btn-fefault cart">
                    <i class="fa fa-shopping-cart"></i>
                    Cập nhật 
                </a>    
                
                @using (Html.BeginForm("Checkout", "Cart"))
                {
                    <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> Đặt hàng </button>
                }
                
                           
            </div>
        </div>
    </section> <!--/#cart_items-->
    }