﻿@using BookStore.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<tblBook>
@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    
        
        @Html.Action("Product", "Product")
        
    </div>
</section>
