﻿@model IEnumerable<BookStore.Models.tblMainAuthor>
@{
    ViewBag.Title = "Authors";
}

<div class="brands-name">
    <ul class="nav nav-pills nav-stacked">
        @foreach (var item in Model)
        {
            <li><a href="#"> <span class="pull-right">(50)</span>@item.MainAuthorName</a></li>
        }
    </ul>
</div>

