﻿@using BookStore.Models
@model IEnumerable<tblCategory>
@{
    ViewBag.Title = "Categories";
}
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="@Url.Action("ProductByCategory", "Product", new {maDanhMuc=item.CategoryID})"> @item.CategoryName</a></h4>
        </div>
    </div>
}


