﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @Html.Action("Categories", "Product")
                        
                    </div><!--/category-products-->

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>Author</h2>
                        @Html.Action("Publisher", "Product")
                    </div><!--/brands_products-->

                  

                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="~/Content/images/home/shipping.jpg" alt="" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">NEW BOOKS</h2>
                    @Html.Action("RecommendedProduct", "Product")
                </div><!--features_items-->            
            </div>
        </div>
    </div>
</section>

