﻿@using BookStore.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<tblBook>
@{
    ViewBag.Title = "Product";
}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    @Html.Action("Categories", "Product")
                </div><!--/category-products-->
                <div class="brands_products">
                    <!--brands_products-->
                    <h2>Author</h2>
                    @Html.Action("Publisher", "Product")
                </div><!--/brands_products-->
                <div class="shipping text-center">
                    <!--shipping-->
                    <img src="~/Content/images/home/shipping.jpg" alt="" />
                </div><!--/shipping-->
            </div>
        </div>
        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">All Books</h2>

                <div id="contentPager">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="@Url.Action("ProductDetail", "Product", new {masp=item.BookID})">
                                            <img src="~/@item.Image" alt="" />
                                        </a>
                                        <h2>@item.Price</h2>
                                        <p>@item.BookName</p>
                                        <a href="@Url.Action("AddItem", "Cart", new { masp = item.BookID, quantity = 1, @strUrl = Request.Url.ToString().Trim() })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="myPager">
                    <div id="contentPager" class="col-md-8">
                        @Html.PagedListPager(Model, page => Url.Action("Product", "Product", new { page = page }))
                    </div>
                </div>


            </div><!--features_items-->
        </div>
    </div>
</div>


