﻿@model IEnumerable<BookStore.Models.tblPublishCompany>
@{
    ViewBag.Title = "Authors";
}

<div class="brands-name">
    <ul class="nav nav-pills nav-stacked">
        @foreach(var item in Model)
        {
            <li><a href="@Url.Action("ProductByPublisher", "Product", new {manxb=item.PublisherID})"> <span class="pull-right"></span>@item.PublisherName</a></li>
        }
    </ul>
</div>

