﻿@using BookStore.Models
@using PagedList.Mvc
@model PagedList.IPagedList<tblBook>
@{
    ViewBag.Title = "RecommendedProduct";
}
@foreach (var item in Model)
{
    <div class="col-sm-3">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="@Url.Action("ProductDetail", "Product", new {masp=item.BookID})">
                        <img src="@item.Image"  alt="" />
                        </a>
                        <h2>@item.Price</h2>
                        <p>@item.BookName</p>
                    <a href="@Url.Action("AddItem", "Cart", new { masp = item.BookID, quantity = 1, strUrl = Request.Url.ToString().Trim() })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="col-md-12">
    @Html.PagedListPager(Model, page => Url.Action("Product", "Product", new { page = page }))
</div>


